body{
  background-color: darkgrey;
}
.container{
  width: 100%;
}
.header{
  border-radius: 0 0 6px 6px;
}
.logo{
  max-width: 12rem;
}
.pull-right{
  float:right;
  vertical-align: bottom;
}
.icono{
  width: 45px;
  height: 45px;
  margin-bottom: 10px;
}
.row-nav{
  margin:0px;
}
.boton-nav{
  margin: 2px;
  padding: 0px;
  background-color: #2941A1;
  border-radius: 6px;
  color:white;
}
.contenido{
  padding: 0px;
  border-right: dashed 1px black
}
.row-contenido{
  margin:0px;
}
.contenido{
  background-color: rgba(39,38,128,0.3);
  padding:2px;
  border-radius: 6px;
  margin-bottom: 10px;
  min-height: 250px;
}
.contenido-1 .contenido-texto{
padding-right: 0px;
}
.contenido-texto{
  height: 240px;
  overflow: scroll;
}
.contenido-1 .contenido-img{
  padding-left:0px;
  width: 10rem;
}
.contenido-img img{
  height: 10rem;
  border-radius: 6px;
  max-width: 100%;
}
.comentario{
  margin-bottom: 10px;
  width: 100%;
}
.comentario input{
  width: 100%;
  border-radius: 10px;
  font-size: 14px;
}
.buscador{
  padding-top: 10px;
  background-color: rgba(11, 119, 172, 0.5);
  border-radius: 6px;
  min-height: 200px;
}
.buscador input{
  border-radius: 20px !important;
}
.busqueda input{
  padding-left: 30px;
}
.form-input::before{
  content: "\f002";
  position:absolute;
  font-family: "FontAwesome";
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  color: grey;
}
.busqueda-lista{
width: 100%;
padding-left: 15px;
padding-right: 15px;
font-size: 14px;
margin-top: 10px;

}
.busqueda-lista-item{
  margin: 2px;
  border-radius: 20px !important;
  color: grey;
}

@media (max-width:790px) {
  .logo{
    max-width: 10rem;
  }
  .icono{
    width: 40px;
    height: 40px;
    margin-bottom: 8px;
  }
  .boton-nav{
    font-size: 14px;
  }
  .contenido{
    background-color: rgba(39,38,128,0.3);
    padding:2px;
    border-radius: 6px;
    margin-bottom: 10px;
    min-height: 200px;
  }
  .contenido-texto{
    font-size: 10px;
    height: 130px;
    overflow: scroll;
  }
  .contenido-img img{
    height: 9rem;
    border-radius: 6px;
    max-width: 9rem;
  }
  .comentario input{
    font-size: 10px;
    height: 30px;
  }
  .comentario span{
    height: 25px;
    height: 30px;
  }
  .busqueda-lista{
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 10px;
  margin-top: 10px;

  }
}

@media (max-width:500px) {
  .logo{
    max-width: 6rem;
  }
  .icono{
    width: 25px;
    height: 25px;
    margin-bottom: 5px;
  }
  .boton-nav{
    font-size: 10px;
  }
  .contenido{
    background-color: rgba(39,38,128,0.3);
    padding:2px;
    border-radius: 6px;
    margin-bottom: 10px;
    min-height: 150px;
  }
  h4{
    font-size: 14px;
  }
  .contenido-texto{
    font-size: 6px;
    height: 100px;
    overflow: scroll;
  }
  .contenido-img img{
    height: 5rem;
    border-radius: 6px;
    max-width: 100%;
  }
  .comentario input{
    font-size: 8px;
    height: 25px;
  }
  .comentario span{
    height: 25px;
  }
  .busqueda input{
    height: 30px;
    font-size: 12px;
  }
  .form-input::before{
    content: "\f002";
    position:absolute;
    font-family: "FontAwesome";
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 12px;
    color: grey;
  }
  .busqueda-lista{
  width:80%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 8px;
  margin-top: 10px;
  }
  .busqueda-lista li{
    height: 25px;
    padding-top: 6px;
    padding-bottom: 6px;
  }
}
